---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import { getTags, filterByTag } from "../../../utils/tags";
import PostCard from "../../../components/PostCard.astro";
import GoBackButton from "../../../components/GoBackButton.astro";

export async function getStaticPaths() {
  let posts = await getCollection("blog");
  const { tags } = getTags(posts);

  return tags.map((tag) => ({
    props: {
      posts: filterByTag(posts, tag),
    },
    params: { tag },
  }));
}

const { posts } = Astro.props;
const { tag } = Astro.params;
---

<Layout title={`Alexys Hegmann. Posts tagged ${tag}`}>
  <div class="my-4 flex flex-row gap-4 justify-between items-center mx-4">
    <h2 class="text-3xl text-gray-600 dark:text-gray-200">Tag: {tag}</h2>
    <div class="fixed bottom-24 right-4 z-10">
      <GoBackButton />
    </div>
  </div>
  <div class="flex flex-row flex-wrap mb-40">
    {
      posts.map((post) => (
        <div class="w-full lg:w-1/3">
          <PostCard post={post} />
        </div>
      ))
    }
  </div>
</Layout>
