---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Accordion, AccordionItem } from "accessible-astro-components";
import contactImage from "../assets/contact.jpeg";
import { Image } from "astro:assets";
---

<Layout title="Get in touch">
  <div
    class="text-gray-600 dark:text-gray-100 my-4 mx-4 mb-40 lg:mb-0"
    data-pagefind-body
  >
    <Image
      src={contactImage}
      alt="Get in touch"
      class="aspect-video object-cover w-full rounded-2xl"
    />
    <div class="flex flex-row border-b-2 border-gray-800 pb-8 my-8">
      <h1 class="text-4xl">Let's do this!</h1>
    </div>
    <div class="flex flex-col lg:flex-row border-b-2 border-gray-800 pb-8 mb-8">
      <div class="w-full lg:w-1/3 mb-4 lg:mb-0 lg:pr-8">
        <h2 class="text-4xl">Get in touch</h2>
        <p>Contact me directly using my social media accounts.</p>
      </div>
      <div class="w-full lg:w-2/3">
        <div class="flex flex-row gap-16 justify-center lg:justify-start">
          <a
            href="https://github.com/alexyshegmann"
            target="_blank"
            class="hover:text-rose-500 transition-colors"
          >
            <Icon name="github" class="size-12" />
          </a>
          <!-- <a
              href="https://www.reddit.com/user/yagarasu/"
              class="hover:text-rose-500 transition-colors"
              target="_blank"
            >
              <Icon name="reddit" class="size-12" />
            </a> -->
          <a
            href="https://www.linkedin.com/in/alexyshegmann/"
            class="hover:text-rose-500 transition-colors"
            target="_blank"
          >
            <Icon name="linkedin" class="size-12" />
          </a>
          <!-- <a
              href="https://discordapp.com/users/284791377336860673"
              class="hover:text-rose-500 transition-colors"
              target="_blank"
            >
              <Icon name="discord" class="size-12" />
            </a> -->
        </div>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row">
      <div class="w-full lg:w-1/3 mb-4 lg:mb-0 lg:pr-8">
        <h2 class="text-4xl">Quick answers</h2>
      </div>
      <div class="w-full lg:w-2/3">
        <Accordion>
          <AccordionItem name="where" title="Where are you based?">
            <div class="max-w-[60ch] leading-10 mx-auto">
              <p>
                I'm currently based on Queretaro, Mexico. It's a city located
                around 3 hours away from Mexico City. It's a beautiful place to
                live with a colonial downtown, but with all the amenities of a
                modern city. If you happen to visit, drop me a DM and we can go
                grab a coffee.
              </p>
            </div>
          </AccordionItem>
          <AccordionItem name="kind" title="What kind of developer are you?">
            <div class="max-w-[60ch] leading-10 mx-auto">
              <p>
                I'm currently leaning towards Front End development using React
                as my weapon of choice, but I've also worked on the Back End
                using PHP. In my free time &mdash;not that I have too
                much&mdash;, I also enjoy making games with Godot and I've been
                tinkering around with Rust.
              </p>
              <p>
                Oh, and when Flash was a thing, I dove deep into ActionScript,
                so I'm kind of a jack of all trades.
              </p>
            </div>
          </AccordionItem>
          <AccordionItem name="difference" title="What sets you appart?">
            <div class="max-w-[60ch] leading-10 mx-auto">
              <p>
                That's a tricky question, but I think I would summarize it as:
              </p>
              <h3 class="text-2xl my-4">1. Code as Craft</h3>
              <p>
                I don't just write code, I craft it. I bring a maker's mindset
                to software, viewing programming as a blend of logic and
                artistry. That care shows in how I approach everything: from UI
                polish to backend architecture to developer tooling.
              </p>
              <h3 class="text-2xl my-4">2. Deep Web intuition</h3>
              <p>
                I've been working with web technologies since I was a kid, and
                it shows. I have a native-level understanding of how the web
                works—DOM, HTTP, CSS, APIs, all of it—which gives me a big edge
                when debugging, scaling, or building resilient applications.
              </p>
              <h3 class="text-2xl my-4">
                3. Full-Stack versatility, Frontend Leadership
              </h3>
              <p>
                I'm highly proficient across the stack, but I shine as a
                frontend lead—guiding migrations, building tools from scratch,
                mentoring others, and advocating for best practices. I improve
                not just products, but entire developer workflows.
              </p>
              <h3 class="text-2xl my-4">4. Communication Skills</h3>
              <p>
                I'm not just a strong engineer—I'm also a clear communicator who
                enjoys writing documentation, collaborating across teams, and
                mentoring junior devs.
              </p>
              <h3 class="text-2xl my-4">
                5. Love of Learning and Adaptability
              </h3>
              <p>
                I'm the kind of person who learns a platform like Amazon Chime
                SDK on the fly and delivers production features. I bring
                curiosity, humility, and a hands-on attitude to everything I do.
              </p>
            </div>
          </AccordionItem>
          <AccordionItem
            name="opportunities"
            title="Are you open for oportunities?"
          >
            <div class="max-w-[60ch] leading-10 mx-auto">
              <p>Sure! Drop me a DM in my LinkedIn and we can talk..</p>
            </div>
          </AccordionItem>
        </Accordion>
      </div>
    </div>
  </div>
</Layout>
