---
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";
import Layout from "../layouts/Layout.astro";
import { getTags } from "../utils/tags";

const posts = await getCollection("blog");
posts.sort(
  (a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime()
);

const { tags, tagsCount } = getTags(posts);
---

<Layout title="Alexys Hegmann: Senior Software Engineer" isHome>
  <div
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 min-[2440px]:grid-cols-4! lg:grid-flow-row gap-4 auto-rows-fr mb-24"
    data-pagefind-body
  >
    {posts.map((post) => <PostCard post={post} />)}
  </div>
  <div class="flex flex-wrap justify-center gap-2" slot="sidebar">
    {
      tags.map((word) => (
        <a
          class="bg-gray-200 text-gray-600 dark:bg-gray-500 dark:text-gray-300 px-4 py-1 rounded-full hover:bg-rose-200 dark:hover:bg-rose-700 dark:hover:text-rose-200 transition-colors"
          href={`/blog/tag/${word}`}
        >
          {word}

          {tagsCount[word] > 1 ? ` (${tagsCount[word]})` : ""}
        </a>
      ))
    }
  </div>
</Layout>
