---
import LogoImg from "../assets/logo.svg";
---

<a href="/" class="flex flex-col gap-2 text-gray-800 dark:text-gray-300 hover:text-rose-500 max-w-96">
  <div class="flex flex-row gap-4">
    <LogoImg class="w-1/4" />
    <div class="grow text-5xl">Alexys Hegmann</div>
  </div>
  <div class="text-2xl font-light">Senior Software Engineer</div>
</a>